# Introduction to scikit learn 1 (sklearn)

This notebook demonstrates some of the most usefull functions of the beautiful Scikit-Learn library.

What its going to cover:

In [27]:
# let's listify the contents
what_were_covering = [
    "0. An end-to-end Scikit-Learn workflow",
    "1. Getting the data ready",
    "2. Choose the right estimator/algorithm for the pronlems",
    "3. Fit the model/algo and use it to make predictions on our data",
    "4. Evaluating a model",
    "5. Improve a model",
    "6. Save and load a trained model",
    "7. Putting it all together!"]
what_were_covering

['0. An end-to-end Scikit-Learn workflow',
 '1. Getting the data ready',
 '2. Choose the right estimator/algorithm for the pronlems',
 '3. Fit the model/algo and use it to make predictions on our data',
 '4. Evaluating a model',
 '5. Improve a model',
 '6. Save and load a trained model',
 '7. Putting it all together!']

In [28]:
# Standard imports
import numpy as np
import pandas as pb
import matplotlib.pyplot as plt

## 0. An end-to-end Scikit-Learn workflow

In [29]:
# 1. Get the data ready
import numpy as np
import pandas as pd
heart_disease = pd.read_csv("../data/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [30]:
# Create X (features matrix)
x = heart_disease.drop("target", axis=1)

# Create Y (labels)
y = heart_disease["target"]

In [31]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# We'll keep the hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'monotonic_cst': None,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [32]:
# 3. Fit the model to the training data
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [33]:
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
10,54,1,0,140,239,0,1,160,0,1.2,2,0,2
269,56,1,0,130,283,1,0,103,1,1.6,0,0,3
36,54,0,2,135,304,1,1,170,0,0.0,2,0,2
155,58,0,0,130,197,0,1,131,0,0.6,1,0,2
147,60,0,3,150,240,0,1,171,0,0.9,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,62,1,2,130,231,0,1,146,0,1.8,1,3,3
22,42,1,0,140,226,0,1,178,0,0.0,2,0,2
258,62,0,0,150,244,0,1,154,1,1.4,1,0,2
132,42,1,1,120,295,0,1,162,0,0.0,2,0,2
196,46,1,2,150,231,0,1,147,0,3.6,1,0,2

In [34]:
y_train

10     1
269    0
36     1
155    1
147    1
      ..
52     1
22     1
258    0
132    1
196    0
Name: target, Length: 242, dtype: int64

In [35]:
x_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
197,67,1,0,125,254,1,1,163,0,0.2,1,2,3
280,42,1,0,136,315,0,1,125,1,1.8,1,0,1
284,61,1,0,140,207,0,0,138,1,1.9,2,1,3
64,58,1,2,140,211,1,0,165,0,0.0,2,0,2
127,67,0,2,152,277,0,1,172,0,0.0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,35,1,0,120,198,0,1,130,1,1.6,1,0,3
152,64,1,3,170,227,0,0,155,0,0.6,1,0,3
236,58,1,0,125,300,0,0,171,0,0.0,2,2,3
226,62,1,1,120,281,0,0,103,0,1.4,1,1,3
124,39,0,2,94,199,0,1,179,0,0.0,2,0,2

In [36]:
y_test

197    0
280    0
284    0
64     1
127    1
      ..
227    0
152    1
236    0
226    0
124    1
Name: target, Length: 61, dtype: int64

In [37]:
clf.fit(x_train, y_train);

In [38]:
# Make a prediction
y_label = clf.predict(np.array([0, 2, 3, 4]))

/home/deb/Documents/T1Env/lib/python3.12/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

ValueError: Expected 2D array, got 1D array instead:
array=[0. 2. 3. 4.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:
x_test.shape, x_train.shape

In [39]:
y_preds = clf.predict(x_test)
y_preds

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1])

In [40]:
y_test

197    0
280    0
284    0
64     1
127    1
      ..
227    0
152    1
236    0
226    0
124    1
Name: target, Length: 61, dtype: int64

In [41]:
# 4. Evaluate the model
clf.score(x_train, y_train)

1.0

In [42]:
clf.score(x_test, y_test)

0.819672131147541

In [43]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.77      0.85      0.81        27
           1       0.87      0.79      0.83        34

    accuracy                           0.82        61
   macro avg       0.82      0.82      0.82        61
weighted avg       0.82      0.82      0.82        61

In [44]:
confusion_matrix(y_test, y_preds)

array([[23,  4],
       [ 7, 27]])

In [45]:
accuracy_score(y_test, y_preds)

0.819672131147541

In [46]:
# 5.Improve a model
# Try different amount of n_estimators 
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    print(f"Model accuracy on test set: {clf.score(x_test, y_test) * 100:.2f}%")
    print(" ")

Trying model with 10 estimators...
Model accuracy on test set: 80.33%

Trying model with 20 estimators...
Model accuracy on test set: 81.97%

Trying model with 30 estimators...
Model accuracy on test set: 77.05%

Trying model with 40 estimators...
Model accuracy on test set: 80.33%

Trying model with 50 estimators...
Model accuracy on test set: 81.97%

Trying model with 60 estimators...
Model accuracy on test set: 80.33%

Trying model with 70 estimators...
Model accuracy on test set: 81.97%

Trying model with 80 estimators...
Model accuracy on test set: 81.97%

Trying model with 90 estimators...
Model accuracy on test set: 80.33%

In [47]:
# 6. Save a model and load it
import pickle

clf = RandomForestClassifier(50).fit(x_train, y_train)
pickle.dump(clf, open("../models/random_forst_model_1.pkl", "wb"))

In [48]:
loaded_model = pickle.load(open("../models/random_forst_model_1.pkl", "rb"))
loaded_model.score(x_test, y_test)

0.8032786885245902

In [49]:
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [50]:
# 7. Putting it all together!
Heart_disease = pd.read_csv("../data/heart-disease.csv")

from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

X = Heart_disease.drop("target", axis=1)
Y = Heart_disease["target"]

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.3)

clf.fit(X_train, Y_train)
clf.score(X_test, Y_test)

import pickle
pickle.dump(clf, open("../models/random_forst_model_1_7.pkl", "wb"))

Loaded_model = pickle.load(open("../models/random_forst_model_1_7.pkl", "rb"))
Loaded_model.score(X_test, Y_test)

0.8169014084507042

## 1. getting our data ready to be used with ML

Three main things we have to do:
    1. Split the data into features and labels (usually `X` & `Y`)
    2. converting non-numerical values to numerical values (also called feature encoding)

In [62]:
heart_disease = pd.read_csv("../data/heart-disease.csv")
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [70]:
X = heart_disease.drop("target", axis=1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [71]:
Y = heart_disease["target"]
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [72]:
# split the data into trainig and test sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,
                                                    Y,
                                                    test_size=0.2)

In [73]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [75]:
X.shape, Y.shape

((303, 13), (303,))

In [ ]:
X.shape[0]

In [76]:
len(heart_disease)

303